# Azure build pipelines for Sysinternalsebpf

resources:
  repositories:
  - repository: SysinternalsEBPF
    type: github
    endpoint: sysinternals
    name: sysinternals/sysinternalsebpf

trigger:
    branches:
      include:
        - release/*
        - main
      exclude:
        - dev/*
        - test/*
  
pr:
- main

stages:
 - stage: "Build"
   jobs: 
    - job: "Build_Sysinternalsebpf_Ubuntu_20_04_Package"
      pool: 
        name: "Sysinternals-for-Linux-AME"
        demands:
        - ImageOverride -equals sysmon-ubuntu-build-agent
      steps:
      - checkout: SysinternalsEBPF
        persistCredentials: true

      - template: templates/build.yaml
      displayName: "Build Sysinternalsebpf"